$color-white: #fff;
$color-black: #000;
$color-dark: #2c323f;

$color-background: #f8f8f8;

// $color-primary: rgb(115, 102, 255);
$color-primary: #5469d4;
$color-secondary: #d62626;

$color-grey-1: #343434;
$color-grey-2: #525252;
